<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
.formula_box
{
    display: inline-block;
    border: 1px solid black;
    background-color: #F2F802;
    background-clip: padding-box;
    padding: 2px;
}
        </style>
        <title>%(title)s</title>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" async src="/thirdparty/MathJax/MathJax.js?config=TeX-AMS_CHTML"></script>
        <script src="/thirdparty/d3.v3.min.js"></script>
        <script src="/thirdparty/function-plot.js"></script>
        <script type="text/javascript">
%(s2dData)s
        </script>
        <script type="text/javascript">
function showScript(uid)
{
    s = document.getElementById(uid).innerHTML;
    w = window.open('', '', 'width=600,height=600,resizeable,scrollbars');
    w.document.write(s);
    w.document.close();
}
        </script>
   
    </head>
    <body>
%(body)s

<br/>
<br/>
<br/>
<br/>
<br/>
    </body>
</html>
